.link-transition {
  /* hover:-translate-y-0.5 transition-transform ease-in-out */
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link-transition:hover {
  transform: translateY(-0.125rem);
}

.card-transition {
  transition-timing-function: ease-in-out;
  transition-duration: 75ms;
  transition-property: transform, opacity;
}
