@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../styles/animations.css);
@import url(../styles/transitions.css);

:root {
  --chocolate-cosmos: #66101fff;
  --rose-taupe: #855a5cff;
  --battleship-gray: #8a8e91ff;
  --columbia-blue: #b8d4e3ff;
  --nyanza: #eeffdbff;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 41, 41;
    --background-end-rgb: 55, 55, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* 
hover:-translate-y-0.5 transition-transform ease-in-ou
*/

body {
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
